<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/admin-profile.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/admin-all.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">        
        <aside class="aside">
            <div class="website-title-container">
                <div class="tile-icon-container">
                    <i class='fas fa-heartbeat website-icon'></i>
                </div>
                <div class="website-title">
                    City Star
                </div>
            </div>
            <div class="nav-container">
                <ul class="nav-li-container">
                    <li class="nav-link">
                        <i class="fas fa-tachometer-alt"></i>
                        <a th:href="@{/admin/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-link">
                        <i class="fas fa-users"></i>
                        <a th:href="@{/admin/users}">Users</a>
                    </li>
                    <li class="nav-link">
                        <i class="fas fa-calendar-alt"></i>
                        <a th:href="@{/admin/appointments}">Appointments</a>
                    </li>
                    <li class="nav-link bottom-link">
                        <i class="fas fa-sign-out-alt bottom link"></i>
                        <a th:href="@{/admin/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="home-panel">
            <nav class="nav">
                <div class="toggler-container">
                    <div class="toggler-bg">
                        <i class="fa-solid fa-bars toggler-icon"></i>
                    </div>
                </div>
                <div class="material-container">
                    <div class="notification-container">
                        <div class="bell-icon-container">
                            <i class="fa-solid fa-bell bell-icon"></i>
                            <span class="notification-dot">
                            </span>
                        </div>
                    </div>
                    <div class="profile-container">
                        <div class="profile-name">
                            <p th:text="${current_user.firstName + ' ' + (current_user.lastName != null ? current_user.lastName : '')}">user name</p>
                        </div>                        
                        <div class="profile-image">
                            <img class="img" alt="" th:src="${current_user.profilePath}">
                        </div>
                    </div>
                </div>
            </nav>
            <main class="main">
                <h1 class="title">Profile</h1>
                <div class="user-container-header">
                    <div class="user-container">
                        <div class="user-image-container">
                            <img class="user-image" alt="" th:src="${current_user.profilePath}">
                        </div>
                        <div class="user-data">
                            <p class="user-name">Thwin Naing</p>
                            <p class="user-role">Admin</p>
                            <p class="user-email">htoonaing@gmail.com</p>
                        </div>
                    </div>   
                </div>
                <div class="personal-info-container">   
                    <div class="personal-info-header header">
                        <h2 class="header-title">Personal Information</h2>
                        <div class="button-container">
                            <button class="update-button" id="update-profile-button">update</button>
                        </div>
                    </div>
                    <div class="personal-info-content">
                        <div class="personal-info-item">
                            <label for="first-name">First Name</label>
                            <input type="text" id="first-name" name="first-name" value="">
                        </div>
                        <div class="personal-info-item">
                            <label for="middle-name">Middle Name</label>
                            <input type="text" id="middle-name" name="middle-name" value="" readonly>
                        </div>
                        <div class="personal-info-item">
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" name="last-name" value="" readonly>
                        </div>
                        <div class="personal-info-item">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="" readonly>
                        </div>
                        <div class="personal-info-item">
                            <label for="age">Age</label>
                            <input type="number" id="age" name="age" value="" min="0">
                        </div>
                    </div>
                </div>
                <div class="address-info-container">
                    <div class="address-info-header header">
                        <h2 class="header-title">Address Information</h2>
                        <div class="button-container">
                            <button class="update-button" id="update-address-button">update</button>
                        </div>
                    </div>
                    <div class="address-info-content">
                        <div class="address-info-item">
                            <label for="street">Address</label>
                            <input type="text" id="street" name="street" value="" readonly>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script th:src="@{/js/admin-profile.js}"></script>
<script th:src="@{/js/admin-all.js}"></script>
</html>