.body{
    background-color: var(--background-color);
}
.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}   
.search-input-container{
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 2px 2px 18px #00000019;
}
.time-slot-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ecf1f6;
}
.time-slot {
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    color: var(--primary-color);
}
.time-slot input{
    border-radius: 8px;
    border: none;
    background: none;
}
.input{
    padding: 12px;
    width: 360px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--primary-color);
}
.input:focus{
    outline: 1px solid var(--primary-color);
}
.search-btn{
    padding: 12px 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
}
.search-btn:hover{
    cursor: pointer;
}
.doctor-list-container {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}

.doctor-list-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-list-header h2 {
    margin: 0;
    font-size: 24px;
}

.doctor-count {
    font-size: 14px;
    margin-top: 5px;
    color: #fff8e1;
}

.doctor-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}

.doctor-card {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
}

.doctor-card:hover {
    transform: translateY(-4px);
}

.doctor-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.doctor-info {
    padding: 15px;
}

.doctor-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.doctor-speciality {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

.availability-time {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

.custom-modal {
    display: none; position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); z-index: 999;
}
  
.custom-modal-content {
    background: #fff; padding: 20px 30px;
    margin: 8% auto; width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-family: sans-serif;
    position: relative;
}
  
.custom-close-button {
    position: absolute; right: 15px; top: 15px;
    font-size: 20px; cursor: pointer;
}
  
h3 {
    margin-top: 0;
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
  
.custom-form-group {
    margin-bottom: 15px;
}
  
.custom-form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
  
.custom-form-group input[type="time"],
.custom-form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.custom-form-group textarea {
    resize: vertical;
}
  
.custom-submit-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
  
.custom-submit-btn:hover {
    background-color: var(--primary-hover-color);
}