.personal-info-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
}

.personal-info-item {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 100;
    margin-bottom: 0.5rem;
    color: rgb(129, 126, 126);
    font-size: 0.8rem;
}

input {
    padding: 0.60rem;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background-color: none;
}
input[readonly] {
    background-color: none;
}
input[readonly]:active{
    outline: var(--primary-color) solid 2px;
}
input:active{
    outline: var(--primary-color) solid 2px;
}
input:focus {
    outline: var(--primary-color) solid 2px;
}
.main-profile-update-button {
    background-color: var(--primary-color);
    margin-right: 10px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 15px;
}

.main-profile-update-button:hover {
    background-color: var(--primary-hover-color);
}

.main-profile-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.main-image-profile-container {
    width: 370px;
}

.main-image-profile-info {
    width: 100%;
    flex: 1;
}
.main {
    width: 100%;
    margin-left: 15px;
}

.main-image-profile-info {
    border-left: 1px dashed #898989;
    padding: 0px 20px ;
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 5px;
}

.main-image-container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.main-profile-name-text {
    margin-top: 15px;
    font-size: 25px;
}

.main-profile-email {
    color: #898989;
    margin: 13px 0;
}

.patient-history-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header h2 {
    color: var(--primary-color);
    margin: 0;
    font-size: 1.3rem;
}

.header span {
    font-size: 0.9em;
    color: var(--primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f8f8f8;
}

th, td {
    padding: 14px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
tbody tr {
    color: #5f5f5f;
    transition: background-color 0.3s ease;
    font-size: 14px;
}
tbody tr:hover {
    background-color: #f1f1f1;
}

.badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.85em;
    display: inline-block;
}

.high {
    background-color: #ffe5e5;
    color: #e74c3c;
}

.low {
    background-color: #e1f9ed;
    color: #27ae60;
}

.cured {
    background-color: #d4f7e2;
    color: #2c8a4a;
}

.under-treatment {
    background-color: #fbdada;
    color: #c0392b;
}