<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Doctor</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/patient/find-doctor.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/patient/patient-all.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body>
    <nav class="nav">
        <div class="website-title-container">
            <div class="tile-icon-container">
                <i class='fas fa-heartbeat website-icon'></i>
            </div>
            <div class="website-title">
                City Star
            </div>
        </div>
        <div class="nav">
            <ul class="nav-li-container">
                <li class="nav-link">
                    <a th:href="@{/patient/home}" class="link">Home</a>
                </li>
                <li class="nav-link active">
                    <a th:href="@{/patient/findDoctor}" class="link">Find Doctor</a>
                </li>
                <li class="nav-link">
                    <a th:href="@{/patient/aboutUs}" class="link">About us</a>
                </li>
                <div class="tab-underline"></div>
            </ul>
        </div>
        <div class="material-container">
            <div class="notification-container">
                <div class="bell-icon-container">
                    <i class="fa-solid fa-bell bell-icon"></i>
                    <span class="notification-dot">
                    </span>
                </div>
            </div>
            <div class="profile-container">
                <div class="profile-name">
                    <div class="profile-name-text">
                        <span th:text="${current_user.firstName + ' ' + (current_user.lastName != null ? current_user.lastName : '')}">user name</span>
                    </div>
                </div>
                <div class="profile-image">
                    <img class="img" alt="" th:src="${current_user.profilePath}">
                </div>            
            </div>
        </div>
    </nav>
</body>
<script th:src="@{/js/patient/find-doctor.js}"></script>
<script th:src="@{/js/patient/patient-all.js}"></script>
</html>