.main{
    height: 100vh;
    box-sizing: border-box;
    margin-top: 10px;
}
.header {
    display: flex;
    gap: 0.7rem;
}

.header-item {
    background: var(--linear-color-2);
    color: var(--text-color);
    padding: 0.8rem 1.2rem;
    border-radius: 10px 10px 0 0;
    font-weight: 400;
    min-width: 80px;
    font-size: 0.9rem;
    text-align: center;
}
.header-item.active {
    background: var(--text-color);
    color: var(--primary-color);
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

.patient-table thead {
    position: sticky;
    background-color: #f9fbfd;
    color: #6c7a89;
    top: 0;
    z-index: 2;
}

.patient-table th, .patient-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}
.patient-table th{
    font-family: 'Poppins', sans-serif;
    color: #363636;
}

.patient-table tbody{
    border-left: 1px solid #dbdada;
    border-right: 1px solid #dbdada;
    border-bottom: 1px solid #dbdada;
    border-radius: 10px;
}

.patient-table tbody tr{
    overflow: auto;
}

.patient-table tbody tr {
    background-color: var(--text-color);
    color: #888;
}

.patient-table tbody tr:hover {
    background-color: #efefef;
    color: #888;
}

.patient-table td small {
    color: #888;
    display: block;
}

.status {
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100px;
    text-align: center;
}

.Pending { background: #fff3cd; color: #856404; }
.Confirmed { background: #d4edda; color: #155724; }
.Operating { background: #d1ecf1; color: #0c5460; }
.Completed { background: #c3e6cb; color: #155724; }
.Cancelled { background: #f8d7da; color: #721c24; }

.patient-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid red;
}
.patient-info{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
}
.patient-info > div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.table-container{
    box-sizing: border-box;
    background-color: var(--text-color);
    max-height: 80vh;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
}

.calendar-container {
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    padding: 10px 20px;
}
  
.calendar-icon {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 20px;
}

.calendar-content {
    display: flex;
    flex-direction: column;
}
  
.calendar-label {
    font-size: 12px;
    color: #626262;
    margin-bottom: 3px;
}
  
.calendar-date {
    font-size: 16px;
    width: 100px;
    color: var(--primary-color);
    font-weight: 500;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}


.flatpickr-calendar {
    z-index: 100 !important;
}

.header-container{
    display: flex;
    justify-content: space-between;
}
